{% extends "base.html" %}

{% block title %}Задать вопрос — AskPupkin{% endblock %}

{% block content %}
  <h2 class="text-start mb-4">Задайте вопрос</h2>

  <div class="row justify-content-center">
    <div class="col-md-8">
      <form>
        <div class="mb-3">
          <label for="title" class="form-label fs-4">Заголовок</label>
          <input type="text" id="title" class="form-control form-control-lg" placeholder="Введите заголовок вопроса">
        </div>

        <div class="mb-3">
          <label for="text" class="form-label fs-4">Текст вопроса</label>
          <textarea id="text" rows="6" class="form-control form-control-lg" placeholder="Опишите ваш вопрос..."></textarea>
        </div>

        <div class="mb-3">
          <label for="tags" class="form-label fs-4">Теги</label>
          <input type="text" id="tags" class="form-control form-control-lg" placeholder="Например: наука, общество">
        </div>

        <button type="submit" class="btn btn-success btn-lg px-5 mt-3">Отправить</button>
      </form>
    </div>
  </div>
{% endblock %}
