{% extends "base.html" %}

{% block title %}Главная — AskPupkin{% endblock %}

{% block content %}
  <h2 class="text-start mb-4">New questions</h2>
  <a href="hot" class="mb-4 d-inline-block">Hot questions</a>

  <div class="row">
    <!-- Левая колонка -->
    <div class="col-md-7 m-5">
      <div class="row row-cols-1 row-cols-md-1 g-5" style="margin-left: -300px; min-height: 1000px">
        {% for q in questions %}
          <div class="col">
            <div class="card h-60 shadow-sm p-3">
              <div class="d-flex align-items-start mb-3">
                <img src="images/mob.jpg" width="70" height="70" class="me-3 rounded">
                <div class="card-body">
                  <a href="/question/{{ q.id }}" class="fs-1 fw-semibold text-decoration-none d-block mb-1">{{ q.title }}</a>
                  <p class="m-2 fs-4 text">{{ q.text }}</p>
                </div>
              </div>
              <div class="d-flex align-items-start">
                <div class="d-flex align-items-center">
                  <div class="border rounded p-2 text-center me-2" style="width: 40px;">{{ q.rating }}</div>
                  <div class="d-flex flex-column">
                    <button class="btn btn-sm btn-outline-success mb-1 p-1">&#9650;</button>
                    <button class="btn btn-sm btn-outline-danger p-1">&#9660;</button>
                  </div>
                </div>
                <div class="card-body m-3">
                  <a href="/question/{{ q.id }}" class="fs-3 text">answers(3)</a>
                </div>
                <div class="card-body m-3">
                  <p class="text fs-3">
                    Tags:
                    {% for tag in q.tags %}
                      <a href="/tag/{{ tag }}" class="fs-3 text">{{ tag }}</a>
                    {% endfor %}
                  </p>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>

    <!-- Правая колонка -->
    <div class="col-md-4">
      {% include "includes/sidebar.html" %}
    </div>
  </div>

  {% include "includes/pagination.html" %}
{% endblock %}
