<nav class="mt-4">
  <ul class="pagination justify-content-center">

    {# Первая страница #}
    {% if page.number > 1 %}
      <li class="page-item">
        <a class="page-link" href="?page=1">1</a>
      </li>
    {% endif %}

    {# Многоточие перед текущей страницей, если разрыв > 2 #}
    {% if page.number > 3 %}
      <li class="page-item disabled"><span class="page-link">…</span></li>
    {% endif %}

    {# Страница перед текущей #}
    {% if page.number|add:'-1' > 1 %}
      <li class="page-item">
        <a class="page-link" href="?page={{ page.number|add:'-1' }}">{{ page.number|add:'-1' }}</a>
      </li>
    {% endif %}

    {# Текущая страница #}
    <li class="page-item active">
      <a class="page-link">{{ page.number }}</a>
    </li>

    {# Страница после текущей #}
    {% if page.number|add:'1' < page.paginator.num_pages %}
      <li class="page-item">
        <a class="page-link" href="?page={{ page.number|add:'1' }}">{{ page.number|add:'1' }}</a>
      </li>
    {% endif %}

    {# Многоточие после текущей страницы, если разрыв > 2 #}
    {% if page.number < page.paginator.num_pages|add:'-2' %}
      <li class="page-item disabled"><span class="page-link">…</span></li>
    {% endif %}

    {# Последняя страница #}
    {% if page.number < page.paginator.num_pages %}
      <li class="page-item">
        <a class="page-link" href="?page={{ page.paginator.num_pages }}">{{ page.paginator.num_pages }}</a>
      </li>
    {% endif %}


  </ul>
</nav>
