<h4 class="mb-3 text-start">Популярные темы</h4>
<div class="d-flex flex-wrap gap-2 mb-4">
  <a href="/tag/news" class="btn btn-primary">Новости</a>
  <a href="/tag/analysis" class="btn btn-success">Аналитика</a>
  <a href="/tag/politics" class="btn btn-danger">Политика</a>
  <a href="/tag/social" class="btn btn-warning">Общество</a>
  <a href="/tag/science" class="btn btn-info">Наука</a>
  <a href="/tag/economy" class="btn btn-dark">Экономика</a>
  <a href="/tag/sport" class="btn btn-secondary">Спорт</a>
  <a href="/tag/culture" class="btn btn-light text-dark border">Культура</a>
</div>

<div class="col-md-4">
  <h2 class="mb-2 text-start">Best members</h2>
  <div class="d-flex flex-wrap gap-3">
  <span class="text fs-4">Maratik</span>
  <span class="text fs-4">Sipuha</span>
  <span class="text fs-4">Chris Bale</span>
  <span class="text fs-4">Ryan Gosling</span>
</div>

</div>
