{% extends "base.html" %}
{% block title %}Горячие вопросы — AskPupkin{% endblock %}

{% block content %}
  <h2 class="text-start mb-4">Hot questions</h2>
  <a href="/" class="mb-4 d-inline-block">New questions</a>

  <div class="row">
    <div class="col-md-7 m-5">
      <div class="row row-cols-1 row-cols-md-1 g-5" style="margin-left: -300px; min-height: 1000px">
        {% for q in questions %}
          <div class="col">
            <div class="card h-60 shadow-sm p-3">
              <div class="d-flex align-items-start mb-3">
                <img src="" width="70" height="70" class="me-3 rounded">
                <div class="card-body">
                  <a href="{% url 'question' q.id %}" class="fs-1 fw-semibold text-decoration-none d-block mb-1">
  {{ q.title }}
</a>
                  <p class="m-2 fs-4 text">{{ q.text }}</p>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>

    <div class="col-md-4">
      {% include "includes/sidebar.html" %}
    </div>
  </div>

  {% include "includes/pagination.html" %}
{% endblock %}
